.page {
    background-color: #CED9BC;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

.input{    
    border-width: 1;
    border-color: #3C5B45;
    horizontal-align: center;
    width: 200;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
